{% extends 'base.html' %}
{% load static %}

{% block content %}


<!--== Banner // Slider Area Start ==-->
<section id="banner-area" class="banner__3">
    <section id="banner-area" class="banner__2">
        <div class="ruby-container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="banner-carousel" class="owl-carousel">
                        <!-- Banner Single Carousel Start -->
                        <div class="single-carousel-wrap home_6_slide_1">
                            <div class="banner-caption text-center text-lg-left">
                                <h4>Rubby Store</h4>
                                <h2>Ring Solitaire <br> for Princess</h2>
                                <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                                <a href="#" class="btn-long-arrow">Learn More</a>
                            </div>
                        </div>
                        <!-- Banner Single Carousel End -->
    
                        <!-- Banner Single Carousel Start -->
                        <div class="single-carousel-wrap home_6_slide_2">
                            <div class="banner-caption text-center text-lg-left">
                                <h4>New Collection 2017</h4>
                                <h2>Nice Earrings <br> Collection</h2>
                                <p>Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.</p>
                                <a href="#" class="btn-long-arrow">Learn More</a>
                            </div>
                        </div>
                        <!-- Banner Single Carousel End -->
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--== Banner Slider End ==-->

<!--== Sale Products Area Start ==-->
<section id="sale-products-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="sale-product-wrapper">
                    <div class="sale-product-carousel owl-carousel">
                        <!-- Single Sale Product Start -->
                        <div class="single-sale-product">
                            <div class="row">
                                <div class="col-lg-6 col-md-7 mt-5 m-md-auto">
                                    <div class="sale-product-details text-center text-md-right">
                                        <h3>Sale Products</h3>
                                        <h2><a href="#">Rown Summit Backpack</a></h2>
                                        <span class="price">$40.00</span>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star-half"></i>
                                            <i class="fa fa-star-o"></i>
                                        </div>
                                        <p>The Crown Summit Backpack is equally at home in a gym locker, study cube or a
                                            pup tent, so.</p>
                                        <a href="cart.html" class="btn btn-add-to-cart">+ Add to Cart</a>

                                        <div class="sale-countdown-wrap">
                                            <div class="sale-product-countdown" data-date="2019/2/28"></div>
                                            <!-- Date Format = yyyy-mm-dd -->
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5 ml-auto order-first order-md-last">
                                    <figure class="sale-product-thumb">
                                        <a href="#"><img src="{% static 'assets/img/product-1.jpg' %}" alt="Products"
                                                         class="img-fluid"/></a>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== Sale Product Area End ==-->

<!--== New Products Area Start ==-->
{% comment %} <section id="new-products-area" class="p-9">
    <div class="ruby-container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h2>New Products</h2>
                    <p>Trending stunning Unique</p>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="products-wrapper">
                    <div class="new-products-carousel owl-carousel">
                        <!-- Single Product Item -->
                        {% for i in prod %}
                        <div class="single-product-item text-center">
                            <figure class="product-thumb">
                                <a href="{{i.get_absolute_url}}">
                                    <img src="{{i.product_image.url}}" alt="Products" class="img-fluid" style="height: 200px;">
                                  </a>
                            </figure>

                            <div class="product-details">
                                <h2><a href="single-product.html">{{i.product_name}}</a></h2>
                                <span class="rating">
                                        
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                <span class="price">{{i.price}}</span>
                                <button data-product-id="{{i.id }}" class="btn btn-add-to-cart addToCartBtn">Add to cart</button>
                                <span class="product-bedge">{{i.discount}}</span>
                            </div>

                            <div class="product-meta">
                                <button type="button" data-toggle="modal" data-target="#quickView">
                                    <span data-toggle="tooltip" data-placement="left" title="Quick View"><i
                                            class="fa fa-compress"></i></span>
                                </button>
                                <a href="{% url 'addwish' i.id %}" data-toggle="tooltip" data-placement="left"
                                   title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                <a href="compare.html" data-toggle="tooltip" data-placement="left"
                                   title="Compare"><i class="fa fa-tags"></i></a>
                            </div>
                        </div>
                        {% endfor %}
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<!--== New Products Area End ==-->

<!--== New Products Area Start ==-->
<section id="new-products-area" class="p-9">
    <div class="ruby-container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <!-- Section Title Start -->
                <div class="section-title">
                    <h2>New Products</h2>
                    <p>Trending stunning Unique</p>
                </div>
                <!-- Section Title End -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="products-wrapper">
                    <div class="new-products-carousel owl-carousel">
                        <!-- Single Product Item -->
                        {% for i in prod %}
                        <div class="single-product-item text-center">
                            <figure class="product-thumb">
                                <a href="{{i.get_absolute_url}}"><img src="{{i.product_image.url}}" alt="Products"
                                                                   class="img-fluid"></a>
                            </figure>

                            <div class="product-details">
                                <h2><a href="single-product.html">{{i.product_name}}</a></h2>
                                <span class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half"></i>
                                                <i class="fa fa-star-o"></i>
                                            </span>
                                <span class="price">{{i.price}}</span>
                                {% comment %} <button data-product-id="{{i.id }}"class="btn btn-add-to-cart addToCartBtn"> + Add to Cart</button> {% endcomment %}
                                <button data-product-id="{{i.id }}" class="btn btn-add-to-cart addToCartBtn">Add to cart</button>
                                <span class="product-bedge">{{i.discount}}</span>
                            </div>

                            <div class="product-meta">
                                <button type="button" data-toggle="modal" data-target="#quickView">
                                    <span data-toggle="tooltip" data-placement="left" title="Quick View"><i
                                            class="fa fa-compress"></i></span>
                                </button>
                                <a class=" btn-whislist" data-toggle="tooltip" data-placement="left"
                                   title="Add to Wishlist"><i class="fa fa-heart-o"></i></a>
                                <a href="compare.html" data-toggle="tooltip" data-placement="left"
                                   title="Compare"><i class="fa fa-tags"></i></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--== New Products Area End ==-->

{% endblock %}