{% extends 'adminbase.html'%}
{% load static %}

{% block content %}
{% for i in users %}
<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body"> 
        <h4 class="card-title">Edit User</h4>
        <form class="forms-sample" action="/user/update_user/{{i.id}}" method="POST">
            {% csrf_token %}
          <div class="form-group row">
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Full Name</label>
            <div class="col-sm-9">
              <input name="full_name" type="text" value="{{i.full_name}}" class="form-control" id="exampleInputUsername2" placeholder="Fullname">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">First Name</label>
            <div class="col-sm-9">
              <input name="first_name" value="{{i.first_name}}"type="text" class="form-control" id="exampleInputUsername2" placeholder="Firstname">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Last Name</label>
            <div class="col-sm-9">
              <input name="last_name" value="{{i.last_name}}" type="text" class="form-control" id="exampleInputUsername2" placeholder="Lastname">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input name="email" value="{{i.email}}" type="email" class="form-control" id="exampleInputEmail2" placeholder="Email">
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputMobile" class="col-sm-3 col-form-label">Mobile</label>
            <div class="col-sm-9">
              <input name="ph_no" value="{{i.ph_no}}"type="text" class="form-control" id="exampleInputMobile" placeholder="Mobile number">
            </div>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-outline-secondary btn-sm dropdown-toggle" data-bs-toggle="dropdown">Block/Unblock</button>
            <div class="dropdown-menu">
              <a href="/user/block_user/{{i.id}}"class="dropdown-item">Block</a>
              <a href="/user/unblock_user/{{i.id}}"class="dropdown-item">Unblock</a>
            </div>
          </div>
          <br>
          <br>
          <br>

          <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
{% endfor %}
{% endblock %}